*{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  height: 100vh;
  background-color: brown;
}
.editorBox{
  border: 1px solid black;
  background-color: aquamarine;
  padding: 0;
}
.queryBox{
  border: 1px solid black;
  background-color: aquamarine;
  min-width: 30vw ;
  min-height: 60vh;
}
textarea{
  border: none;
  outline: none;

}